$y-color-blue: #2daceb;
$y-color-grey: #5b6168;
$y-color-black: #1f2a33;
$y-color-white: #ffffff;
$y-color-green: #4CAF50;
$y-color-red: #ff5252;

$y-table-hover-background-color: #eeeeee;

$y-text-grey-color: rgba(0, 0, 0, 0.54);
$y-text-color: rgba(0, 0, 0, 0.87);
$y-text-white-color: rgba(255, 255, 255);
$y-disabled: rgba(0, 0, 0, 0.26);

$y-border-color: rgba(0, 0, 0, 0.12);

$y-icon-font-family: "Material Design Icons";
$y-table-asc-content: "\F35D";
$y-table-desc-content: "\F360";

$y-app-header-background-color: #2daceb;
